<a
  href="{{'/' .. ws_name .. '/' .. string.sub(spec.route, 2)}}"
  data-tags="{% for _, tag in pairs(spec.parsed.tags or {}) do %}{{tag.name:lower()}},{% end %}"
  class="catalog-item toggle-content is-visible">
  <div class="catalog-logo">
    {{spec.parsed.info.title:sub(0,2)}}
  </div>

  <div class="catalog-details">
    <h5 class="catalog-title">{{spec.parsed.info.title}}</h5>

    {% if spec.parsed.info.description then %}
      <p class="catalog-desc">{{spec.parsed.info.description}}</p>
    {% end %}

    {% if spec.parsed.info.version then %}
      <small class="catalog-version">v{{spec.parsed.info.version}}</small>
    {% end %}

    {% if spec.tags then %}
      {% for _, tag in each(spec.tags) do %}
        <small class="catalog-tag">{{tag.name}}</small>
      {% end %}
    {% end %}
  </div>
</a>
