{% layout = "layouts/_page.html" %}

{-content-}
  <div class="service-catalog fixed-filter">
    {(partials/service-catalog/filter.html, context)}

    <div class="container">
      <div class="row">
        <div class="nine columns">
          {% for ws_name, specs in each(portal.specs) do %}
            {% context.specs = specs %}
            {% context.ws_name = ws_name %}
            {(partials/service-catalog/list.html, context)}
          {% end %}
        </div>
      </div>
    </div>
  </div>
{-content-}
