
{% layout = "layouts/_app.html" %}

{-content-}
  <div class="auth-page">
    <section class="left-pane">
      <div class="inner">
        <div class="title">
          <h1>{* l("reset_password_form_header", "") *}</h1>
        </div>
        <div class="description">
          <p>{* l("reset_password_form_content", "") *}</p>
        </div>
        <div id="portal-dashboard" page="reset-password"></div>
        <style>
        .modal-footer {
          padding: 15px 0 0 !important
        }

        .modal-footer button,
        .table-header button {
          padding: 0 30px !important;
        }

        .reset-password {
          margin-top: 0 !important;
        }

        .inner .title {
          justify-content: center;
          display: flex;
        }

        .inner .description {
          text-align: center;
        }

        .reset-password h1,
        .reset-password p {
          display: none;
        }
        </style>
      </div>
    </section>

    <section class="right-pane">
      <div class="inner">
        <img src="assets/images/auth-placeholder.svg" />
        <h4>{* l("reset_password_side_header", "") *}</h4>
        <p>{* l("reset_password_side_content", "") *}</p>
      </div>
    </section>
  </div>
{-content-}
